*{
  font-family: "IranSans" !important;
  direction: rtl;
}
.topbar .topbar-left{
  float: right;
}
.navbar-custom{
  margin-right: 270px;
  margin-left: 0;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
a{
  text-decoration: none;
}
.select2-selection{
  border: 1px solid #e8ebf3 !important;
  font-size: 13px;
  height: 34px;
  color: #50649c !important;
  padding-left: 20px;
  padding-right: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 40px;
}