@using System.Security.Claims
@using Common.Utilities
@{
	var userFullName = User.Identity?.GetFullName();
}
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/icons.css"/>
	<link rel="stylesheet" href="~/css/metisMenu.min.css"/>
	<link rel="stylesheet" href="~/css/font.css"/>
	<link rel="stylesheet" href="~/plugins/select2/select2.min.css"/>
	<link rel="stylesheet" href="~/css/persian-datepicker.css"/>
	<link rel="stylesheet" href="~/css/style.min.css"/>
	<link rel="stylesheet" href="~/css/site.css"/>
	<link rel="stylesheet" href="~/plugins/font-awesome-4/css/font-awesome.css"/>
</head>
<body>
<div class="topbar">
	<div class="topbar-left">
		<a href="/" class="logo">
                <img src="~/images/taskmanagementlogo.jpg" style="width: 190px; height: 45px" alt="logo-large" class="logo-lg">
		</a>
	</div>
	<nav class="navbar-custom">

		<ul class="list-unstyled topbar-nav mb-0 pl-2" style="float: left">

			<li class="dropdown">
				<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#"
				   role="button"
				   aria-haspopup="false" aria-expanded="false">
					<img src="~/images/users/user-1.jpg" alt="profile-user" class="rounded-circle"/>
					<span class="ml-1 nav-user-name hidden-sm">@userFullName <i
							class="mdi mdi-chevron-down"></i> </span>
				</a>
				<div class="dropdown-menu pr-1">
					@* <div class="dropdown-divider"></div> *@
					<a class="dropdown-item pr-1" style="text-align: right" asp-controller="Account"
					   asp-action="Logout"><i class="dripicons-exit text-muted mr-2"></i> خروح</a>
				</div>
			</li>

		</ul>

	</nav>
</div>
<div class="page-wrapper">
	<div class="left-sidenav">
		<partial name="_Menu"/>
	</div>
	<div class="container-fluid p-5">
		@RenderBody()
	</div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/persian-datepicker/persian-date.js"></script>
<script src="~/js/persian-datepicker/persian-datepicker.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/waves.min.js"></script>
<script src="~/js/jquery.slimscroll.min.js"></script>
<script src="~/plugins/select2/select2.min.js"></script>
<script src="~/js/metisMenu.min.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/menu-config.js"></script>



@await RenderSectionAsync("Scripts", required: false)

<script>
	$(".select2").select2({
		width: "100%"
	})
	$(document).ready(function () {
		$(".metismenu").metisMenu();
		$(".date-picker").pDatepicker({
			"inline": false,
			"format": "HH:mm YYYY/MM/DD",
			"viewMode": "day",
			"initialValue": false,
			"minDate": null,
			"maxDate": null,
			"autoClose": true,
			"position": "auto",
			"altFormat": "l",
			"altField": "#altfieldExample",
			"onlyTimePicker": false,
			"onlySelectOnDate": true,
			"calendarType": "persian",
			"inputDelay": 800,
			"observer": false,
			"calendar": {
				"persian": {
					"locale": "fa",
					"showHint": true,
					"leapYearMode": "algorithmic"
				},
				"gregorian": {
					"locale": "en",
					"showHint": true
				}
			},
			"navigator": {
				"enabled": true,
				"scroll": {
					"enabled": true
				},
				"text": {
					"btnNextText": "<",
					"btnPrevText": ">"
				}
			},
			"toolbox": {
				"enabled": false,
				"calendarSwitch": {
					"enabled": true,
					"format": "MMMM"
				},
				"todayButton": {
					"enabled": true,
					"text": {
						"fa": "امروز",
						"en": "Today"
					}
				},
				"submitButton": {
					"enabled": true,
					"text": {
						"fa": "تایید",
						"en": "Submit"
					}
				},
				"text": {
					"btnToday": "امروز"
				}
			},
			"timePicker": {
				"enabled": true,
				"step": 1,
				"hour": {
					"enabled": true,
					"step": null
				},
				"minute": {
					"enabled": true,
					"step": null
				},
				"second": {
					"enabled": false,
					"step": null
				},
				"meridian": {
					"enabled": false
				}
			},
			"dayPicker": {
				"enabled": true,
				"titleFormat": "YYYY MMMM"
			},
			"monthPicker": {
				"enabled": true,
				"titleFormat": "YYYY"
			},
			"yearPicker": {
				"enabled": true,
				"titleFormat": "YYYY"
			},
			"responsive": false
		});
	})

</script>
</body>
</html>