@using Presentation.Helpers

<div class="main-icon-menu">
    <nav class="nav">
        <a href="#Home" class="nav-link" id="MainHome">
            <i class="fa fa-home"></i>
        </a>
        @if (CheckPermission.Check(User, ["Job.Index", "Job.Report", "Event.Index", "Plan.Index"]))
        {
            <a href="#Job" class="nav-link" id="MainJob">
                <i class="fa fa-tasks"></i>
            </a>
        }
        @if (CheckPermission.Check(User, ["User.Index", "Role.Index", "Customer.Index", "Project.Index"]))
        {
            <a href="#BaseInfo" class="nav-link" id="MainBaseInfo">
                <i class="fa fa-info-circle"></i>
            </a>
        }
    </nav>
</div>
<div class="main-menu-inner">
    <div class="menu-body slimscroll">
        <div class="main-icon-menu-pane" id="Home">
            <div class="title-box">
                <h6 class="menu-title">خانه</h6>
            </div>
            <ul class="nav config-active-menu-home">
                <li class="nav-item">
                    <a class="nav-link menu-item" asp-action="Index" asp-controller="Home"><i
                            class="dripicons-meter"></i>داشبورد</a>
                </li>
            </ul>

        </div>
        <div class="main-icon-menu-pane" id="BaseInfo">
            <div class="title-box">
                <h6 class="menu-title">اطلاعات پایه</h6>
            </div>

            <ul class="nav metismenu config-active-menu-baseInfo">
                @if (CheckPermission.Check(User, ["User.Index", "Role.Index"]))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-expanded="true">
                            <i class="dripicons-user-group"></i>
                            <span class="w-100">ناحیه کاربری</span>
                            <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @if (CheckPermission.Check(User, "User.Index"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Index" asp-controller="User">کاربر</a>
                                </li>
                            }

                            @if (CheckPermission.Check(User, "Role.Index"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Index" asp-controller="Role">نقش</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (CheckPermission.Check(User, "Customer.Index"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-expanded="true">
                            <i class="dripicons-user-group"></i>
                            <span class="w-100">مشتری</span>
                            <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @if (CheckPermission.Check(User, "Customer.Index"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Index" asp-controller="Customer">مشتری</a>
                                </li>
                            }

                            @if (CheckPermission.Check(User, "Project.Index"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Index" asp-controller="Project">پروژه</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>


        </div>
        <div class="main-icon-menu-pane" id="Job">
            <div class="title-box">
                <h6 class="menu-title">وظیفه</h6>
            </div>
            <ul class="nav metismenu config-active-menu-job">
                @if (CheckPermission.Check(User, ["Job.Index"]))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-expanded="true">
                            <i class="mdi mdi-clipboard-text"></i>
                            <span class="w-100">عملیات</span>
                            <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @if (CheckPermission.Check(User, "Job.Index"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Index" asp-controller="Job">وظیفه</a>
                                </li>
                            }
                        </ul>
                    </li>
                }


                @if (CheckPermission.Check(User, ["Job.Report"]))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-expanded="true">
                            <i class="mdi mdi-file-chart"></i>
                            <span class="w-100">گزارشات</span>
                            <span class="menu-arrow">
                                <i class="mdi mdi-chevron-right"></i>
                            </span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @if (CheckPermission.Check(User, "Job.Report"))
                            {
                                <li>
                                    <a class="menu-item" asp-action="Report" asp-controller="Job">گرازش وظایف</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-expanded="true">
                        <i class="fa fa-info-circle"></i>
                        <span class="w-100">اطلاعات پایه</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        @if (CheckPermission.Check(User, "Event.Index"))
                        {
                            <li>
                                <a class="menu-item" asp-action="Index" asp-controller="Event">فعالیت</a>
                            </li>
                        }
                        @if (CheckPermission.Check(User, "Plan.Index"))
                        {
                            <li>
                                <a class="menu-item" asp-action="Index" asp-controller="Plan">پلن</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
@* <ul class="metismenu left-sidenav-menu"> *@
@* </ul> *@
