
    <ul class="metismenu left-sidenav-menu">
        <li>
            <a asp-action="Index" asp-controller="Home"><i class="dripicons-meter"></i>داشبورد</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Customer"><i class="dripicons-user-group"></i>مشتری</a>
        </li>
        <li>
            <a  asp-action="Index" asp-controller="User"><i class="dripicons-user"></i>کاربر</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Role"><i class="dripicons-lock"></i>نقش</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Event"><i class="dripicons-feed"></i>رویداد</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Plan"><i class="dripicons-box"></i>پلن</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Job"><i class="dripicons-tag"></i>تسک</a>
        </li>
    </ul>
